@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700;800;900&display=swap');
/* font-family: 'Roboto Slab', serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

a,
ul {
    text-decoration: none;
    list-style: none;
}


.wrapper {
    width: 100%;
    max-width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
}

/* header start */

.top-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E5E5E5;
}

.hamb-menu {
    display: flex;
    align-items: center;
    align-self: stretch;
    border-right: 1px solid #E5E5E5;
    min-width: 100px;
    width: 10%;
}

.sections {
    color: #262D33;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

#menu-checkbox {
    display: none;
}

#menu-checkbox:checked~.navigation {
    position: relative;
    transform: scaleY(0);
    transform-origin: top;
}

.hamb-ico {
    display: inline-block;
    min-width: 18px;
    height: 14px;
    background-image: url(../img/hamburer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 15px;
    cursor: pointer;
}

.search-form {
    width: 52%;
    position: relative;
}

.search-input {
    border: none;
    outline: none;
    width: 100%;
    height: 50px;
}

.search-input::placeholder {
    font-family: 'Lato', sans-serif;
    color: #939699
}

.search-btn {
    border: none;
    outline: none;
    background: transparent;
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../img/Search.svg);
    background-repeat: no-repeat;
    background-size: cover;
    top: calc(50% - 10px);
    left: -28px;
    cursor: pointer;
}

.right-part {
    display: flex;
    align-items: center;
}

.header-img {
    border: 3px solid #E5E5E5;
    align-self: flex-end;
    margin-right: 10px;
    min-width: 66px;
}

.header-img img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.subscribe {
    white-space: nowrap;
    margin-right: 2.5em;

}

.subscribe a {
    color: #262D33;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
}

.subscribe p {
    color: #939699;
    font-size: 12px;
    line-height: 15px;
}

.sign-box {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.sign-ico {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../img/sign.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
}

.sign {
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
}

.bottom-part {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.logo img {
    display: block;
}

.name {
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
    margin-left: 1em;
    margin-right: 9.525em;
}

.edition-name {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 38px;
    margin-right: 4.2em;

}

.date {
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
}

.weather {
    white-space: nowrap;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.sun {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../img/Sun.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.temp {
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
    margin-left: 10px;
}

nav {
    background-color: #262D33;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s ease-in-out;
}

.navigation li {
    padding: 17px 0;
}

.navigation li a {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #fff;
    font-weight: 700;
}

/* header end */

/* section top-news start */

.top-news {
    position: relative;
    background-color: #262D33;
    padding-top: 30px;
    padding-bottom: 300px;

}

.news-main-box {
    display: flex;
    align-items: center;
    background-color: #30363D;
    border-radius: 10px;
    padding: 25px 0;
    margin-bottom: 30px;

}

.news {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    padding: 0 25px;
    border-right: 1px solid #4B5157;
}

.title {
    color: #fff;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    width: 65%;

}

.news:last-child {
    border-right: none;
}

.news a:hover {
    text-decoration: underline;
}

.news-pic {
    min-width: 65px;
}

.news-pic img {
    width: 100%;
    object-fit: cover;
    display: block;
}

/* section top-news end */

/* main-news block start */

.main-news {
    position: absolute;
    display: flex;
    border-radius: 10px;
    background-image: url(../img/main-news-bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 1140px;
    top: 38%;
    box-shadow: 0px 0px 8px 1px rgba(34, 60, 80, 0.08);
}

.left-part {
    width: 76.9%;
    padding: 55px 0 95px 55px;
}

.avatar {
    min-width: 45px;
    min-height: 45px;
    margin-right: 10px;
}

.avatar img {
    width: 100%;
}

.news-maker {
    display: flex;
    align-items: center;
    margin-bottom: 145px;
}

.news-maker-data {
    text-align: left;
}

.nm-name {
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.85;
}

.profession {
    font-size: 12px;
    line-height: 20px;
    opacity: 0.4;
    color: #FFFFFF;
}

.left-part h4 {
    font-size: 12px;
    line-height: 15px;
    color: #4592FF;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 25px;
}

.left-part .main-title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
    width: 68%;
    margin-bottom: 45px;
}

.readmore {
    display: inline-block;
    padding: 10px 25px;
    background-color: #4592FF;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    border-radius: 20px;
    margin-right: 30px;
    transition: 0.3s;
}

.readmore:hover {
    background-color: #2a64b4;
}

.readmore .arrow {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../img/Arrow.svg);
    background-repeat: no-repeat;
    vertical-align: bottom;
    left: 5px;
}

.play-info {
    display: flex;
    align-items: center;
}

.manual {
    display: flex;
    align-items: center;
}

.audio-title {
    font-size: 14px;
    line-height: 20px;
    color: #FFF;
    opacity: 0.85;
    letter-spacing: 0.5px;
}

.time {
    font-size: 14px;
    line-height: 20px;
    color: #FFF;
    opacity: 0.4;
    letter-spacing: 0.5px;
}

.audio-play {
    border: none;
    outline: none;
    background: transparent;
    width: 50px;
    height: 50px;
    background-image: url(../img/Play-btn.png);
    background-repeat: no-repeat;
    cursor: pointer;
    margin-right: 10px;
}

.recommended-news {
    display: flex;
    flex-direction: column;
    width: 23%;
    height: 100%;
}

.recommended-news>div {
    background-color: #fff;
    width: 100%;
}

.recommended-news .active {
    background-color: #F5F5F5;
}

.recommended {
    border-radius: 0 10px 0 0;
}

.recommended h3 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 20px 25px;
    border-bottom: 1px solid #D9DADB;
}

.recommended-title {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.food-genre {
    color: #3BBDC4;
}

.cars-genre {
    color: #6E99AE;
}

.movies-genre {
    color: #AC8EE3;
}

.nfl-genre {
    color: #FFA34D;
}

.techreviews-genre {
    color: #3DC47E;
}

.recommended-news>div a {
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
    text-transform: capitalize;
}

.recommended-news>.recommended~div {
    position: relative;
    padding: 20px 25px;
    border-bottom: 1px solid #D9DADB;
}

.techreviews {
    border-radius: 0 0 10px 0;
}

.recommended-news>div:hover a {
    text-decoration: underline;
}

.recommended-news>.active::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #F5F5F5;
    transform: rotate(45deg);
    top: calc(50% - 10px);
    left: -10px;
}

.recommended-news>div a .play {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../img/Play.svg);
    background-repeat: no-repeat;
    vertical-align: bottom;
    left: 5px;
}

.recommended-news>.recommended~div:last-child {
    border-bottom: none
}

/* main-news block end */

/* secondary-news-block start */

.secondary-news-block {
    background-color: #EDEFF0;
    padding-top: 320px;
    padding-bottom: 60px;
    height: auto;
}

.secondary-news-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
    grid-template-areas:
        "cars-card cars-card popular-card columns-card"
        "cars-card cars-card popular-card columns-card"
        "cats-card coffe-card manufacture-card columns-card"
        "cats-card stressful-card lemon-card columns-card";
}




/* cars-card start */



.cars-card {
    background-color: #fff;
    grid-area: cars-card;
    border-radius: 10px;
    padding-top: 15px;

}

.cars-card .wrapper-card {
    padding-left: 35px;
}

.cars-content {
    display: flex;
    align-items: flex-start;
}

.car-img img {
    display: block;
}

hr {
    border: none;
    color: #D9DADB;
    height: 1px;
    background-color: #D9DADB;
}

.cars-left-part .cars-genre {
    margin-top: 20px;
    margin-bottom: 20px;
}

.cars-card .cars-title {
    margin-bottom: 25px;
}

.cars-card .cars-title a {
    font-family: Roboto Slab;
    font-weight: bold;
    color: #262D33;
    font-size: 25px;
    line-height: 30px;
}

.cars-card .cars-title a:hover {
    text-decoration: underline;
}

.cars-left-part .cars-text {
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
}

.cars-card .comment {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 13px 0;
}

.cars-card .comment .avatar-jessica {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    ;
}

.cars-card .comment .avatar-jessica img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
    margin-right: 0;
}

.cars-card .comment .comment-text {
    width: 75%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.cars-card .comment .comment-text a {
    color: #4B5157;
    font-size: 14px;
    line-height: 20px;
    margin-right: 10px;
}

.cars-card .comment .comment-text span {
    color: #262D33;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    margin-right: 3px;
}

.cars-card .comment .comment-ico {
    background-image: url(../img/comment-ico.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 3px;
    width: 15px;
    height: 17px;
    margin-right: 5px;
    align-self: center;
}

.cars-card .comment .number-comment {
    font-size: 12px;
    line-height: 15px;
    color: #939699;
}

/* cars-card end */

/* popular-card start */

.popular-card {
    grid-area: popular-card;
    background-image: url(../img/popular-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 18px 0 0 18px;
    border-radius: 10px;
}

.popular-genre {
    color: #E7D9FF;
}

.label-title {
    color: #fff;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    border-radius: 3px;
    background-color: #3DC47E;
    padding: 5px 12px;
    width: 66px;
    height: 25px;
    margin-bottom: 46%;
    display: block;
    transition: .3s;
}

.label-title:hover {
    background-color: #2f9b63;
}

.popular-title {
    width: 70%;
    margin-bottom: 15px;
}

.popular-title a {
    font-family: Roboto Slab;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #fff;
}

.popular-title a:hover {
    text-decoration: underline;
}

.author-info {
    display: flex;
    align-items: center;
}

.author-avatar {
    margin-right: 10px;
}

.author-name {
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.8);
}

.author-stat,
.author-number-comment,
.like-number {
    display: flex;
    align-items: center;
}


.author-stat div {
    font-size: 12px;
    line-height: 15px;
    color: rgba(255, 255, 255, 0.4);
    margin-right: 10px;
}

.author-number-comment::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background-image: url(../img/comment-ico.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 2px;
    margin-right: 5px;
}

.like-number::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background-image: url(../img/heart.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 5px;
}

/* popular-card end */

/* columns-card start */

.columns-card {
    background-color: #6E99AE;
    grid-area: columns-card;
    border-radius: 10px;
}

.column-wrapper {
    padding: 0 25px;
}


.columns-top-title {
    padding: 20px 25px;
    border-bottom: 1px solid #B4D1E0;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #fff;
}

.columns-bot-title {
    padding: 20px 25px;
    border-top: 1px solid #B4D1E0;
    text-align: center;
}

.columns-bot-title a {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #fff;
}

.columns-bot-title a:hover {
    text-decoration: underline;
}

.column-item {
    padding: 35px 0 40px 0;
    border-bottom: 1px solid #B4D1E0;
    position: relative;
}

.column-item:last-child {
    border-bottom: none;
}

.quote {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url(../img/Quote.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: 35px;
    left: 0;
    z-index: 0;
}

.column-title {
    font-family: Roboto Slab;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
    padding-left: 12px;
    padding-top: 10px;
    position: relative;
    margin-bottom: 15px;
}

.author-column-block {
    display: flex;
    align-items: center;
}

.author-column-name {
    font-size: 14px;
    line-height: 20px;
    color: #D1E2EB;
}

.author-profession {
    font-size: 12px;
    line-height: 15px;
    color: #D1E2EB;
}

.column-avatar {
    margin-right: 10px;
}

/* columns-card end */

/* cats-card start */

.cats-card {
    grid-area: cats-card;
    background-color: #fff;
    border-radius: 10px;
}

.cats-card-bg img {
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.cats-card-title {
    padding: 15px 25px 30px 25px;
}

.cats-card-title a {
    font-family: Roboto Slab;
    font-size: 16px;
    line-height: 25px;
    color: #262D33;
    font-weight: 500;
}

.cats-card-title a:hover {
    text-decoration: underline;
}

/* cats-card end */

/* simple-card start */

.coffe-card {
    grid-area: coffe-card;

}

.manufacture-card {
    grid-area: manufacture-card;
}

.stressful-card {
    grid-area: stressful-card;
}

.lemon-card {
    grid-area: lemon-card;
}

.simple-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
}

.simple-card-title {
    margin-bottom: 5px;
}

.simple-card-title a {
    font-family: Roboto Slab;
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    color: #262D33;
}

.simple-card-title a:hover {
    text-decoration: underline;
}

.simple-card-text {
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
    margin-bottom: 10px;
}

.simple-card-date {
    font-size: 12px;
    line-height: 15px;
    color: #939699;
}

/* simple-card end */

/* center-news start */

.center-news {
    background-image: url(../img/center-news-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 50px 0 55px 0;
}

.center-title {
    font-family: Roboto Slab;
    font-size: 40px;
    line-height: 50px;
    font-weight: 400;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 25px;
}


/* center-news end */

/* bottom-news-section start */

.bottom-news-section {
    background-color: #E5E5E5;
    padding-top: 60px;
    padding-bottom: 60px;
    height: auto;
}

.bottom-news-block {
    display: grid;
    grid-template-columns: 74.45% 1fr;
    column-gap: 30px;
}

.bottom-news-left {
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
}

.bottom-news-left-item {
    padding: 25px 0;
    border-bottom: 1px solid #D9DADB;
    display: flex;
    justify-content: space-between;
}

.bottom-news-left-item:first-child {
    padding-top: 0;
}

.bottom-news-left-item:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.bottom-news-left .bottom-news-img {
    width: 44%;
    overflow: hidden;
}

.bottom-news-left .bottom-news-img img {
    display: block;
    width: 100%;
    transition: 0.3s ease-in-out;
}

.bottom-news-left .bottom-news-img img:hover {
    transform: scale(1.1);
    transform-origin: center;
}

.bottom-news-description {
    width: 53%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bottom-news-stat {
    display: flex;
    align-items: center;
}

.bottom-news-stat div {
    font-size: 12px;
    line-height: 15px;
    color: #939699;
    margin-right: 10px;
}

.bottom-news-stat .like-number::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background-image: url(../img/heart2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 5px;
}

.bottom-news-genre {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.flights-genre {
    color: #4592FF;
}

.food-genre {
    color: #3BBDC4;
}

.science-genre {
    color: #FF4F52;
}

.health-genre {
    color: #3BBDC4;
}

.design-genre {
    color: #AC8EE3;
}

.bookmark-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bookmark-input {
    display: none;
}

.bm-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../img/Bookmark.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bookmark-input:checked+span {
    background-image: url(../img/Bookmark_active.svg);
}

.bottom-news-title {
    padding-right: 10px;
}

.bottom-news-title a {
    font-family: Roboto Slab;
    font-weight: 500;
    font-size: 19px;
    line-height: 25px;
    color: #262D33;
}

.bottom-news-title a:hover {
    text-decoration: underline;
}

.bottom-news-text {
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
}

.column-recommended {
    background-color: #fff;
    border-radius: 10px;
}

.recommended-item {
    display: flex;
    align-items: center;

}
.recommended-item img {
    display: block;
}
.column-recommended-title {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #262D33;
    padding: 20px 25px;
}

.recommended-info-title {
    margin-bottom: 5px;
}

.recommended-info-title a {
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
}
.recommended-info-title a:hover {
    text-decoration: underline;
}

.time-data {
    font-size: 12px;
    line-height: 15px;
    color: #939699;
}